* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
root {
  padding: 2.4rem 1.6rem 4.5rem;
  min-height: 100vh;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
  margin-top: 2.4rem;
  max-width: 343px;
  width: 100%;
}

ul {
  list-style: none;
}
